# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.pytest_cache/
backend/dagster_break_analytics/__pycache__/

# Frontend
frontend/.env
frontend/.cache/

#Data
data/

.venv/
pgadmin4/
data/
.env
venv_dagster/