# Backend
backend/__pycache__/
*.pyc
*.err
backend/.env
backend/.pytest_cache/
backend/dagster_break_analytics/__pycache__/

# Frontend
frontend/.env
frontend/.cache/

#Data
data/

.venv/
pgadmin4/
data/
.env
venv_dagster/
venv/

# Dagster storage
**/dagster_home/storage/*/compute_logs/
**/dagster_home/storage/*/*.err
**/dagster_home/history/
**/dagster_home/logs/