# Backend
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/.cache/
frontend/coverage/

# IDE
.vscode/
.idea/
*.swp

# Ignore other directories
pgadmin4/
data/
.env
venv_dagster/